
/* -----------
 *  NAV
 * ----------- */

ul.menu li:last-child{
    margin-right: 0;
}
.nav-1 .navbar {
    height: 100px;
    max-height: 100px;
    background: #fff;
    margin: 0;
}
.nav-1 .menu {
    margin-top: 38px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
nav a:hover{color: #3a9cd7}
.nav-1 .logo{
    width: 268px;
    min-width: 0;
    margin-top: 25px;
}
nav ul li{
    margin-right: 29px;
}
nav a.contact{
    border: 2px solid #1469a9;
    padding: 9px 26px;
    border-radius: 4px;
    height: 40px;
}

nav a.contact:hover{
    color: white;
    background: #1469a9;
}

@media (max-width: 1200px){
    nav a.contact{
        padding: 9px 10px;
    } 
    nav a {
        font-size: 13px;
    }
}

@media (max-width: 992px){

    .menu{
        float: left;
        text-align: left;
        margin-top: 5px!important;
        margin-bottom: 20px !important;
    }
    .menu li{
        margin: 10px 0 !important;
    }
    .nav-1 .logo {
        min-width: 290px;
        margin-top: 18px;
    }
    .nav-1 .mobile-toggle {
        top: 2px !important;
    }
}

@media (max-width: 767px){
    .nav-1 .mobile-toggle {
        top: 2px !important;
    }
    .nav-1 .logo {
        margin-top: 24px;
    }

    .menu-container{}

}

@media (max-width: 400px){
    .nav-1 .logo {
        margin-top: 30px;
        min-width: 200px;
        margin-bottom: 12px;
    }
}


/* -----------
 *  SLIDER
 * ----------- */

.background-image-holder img {
    /* display: none; */
}

#pbeta-slide1{
    position: relative;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006eb1+43,69bbde+100 */
    background: #006eb1; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #006eb1 43%, #69bbde 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #006eb1 43%,#69bbde 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #006eb1 43%,#69bbde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006eb1', endColorstr='#69bbde',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#pbeta-slide1:before{

    background: none;
}

.pbeta-slide{
    height: auto;
    min-height: 533px;
}
.pbeta-slide h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.no-upper{
    text-transform: none;
}
.pbeta-slide h5{
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 20px;
}
.pbeta-slide .container a{
    background: #00335a;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 16px 45px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}
.pbeta-slide .container a:hover{
    background: white;
    color: #00335a;
}

.pbeta-slide .background-image-holder{

    /* background-size: cover !important; */

    background-position: 47% 45%!important;

    height: 543px;
}

@media(max-width:990px){
    #pbeta-slide1{
        min-height: 0;
        padding: 80px 0;
    }
}

/* -----------
 *  REDES 
 * ----------- */

.pbeta-redes{
    display: inline;
    float: right;
    margin-top: 5px;
}
.pbeta-redes li{
    display: inline;
    margin: 5px;
}
.pbeta-redes li a{
    background: #eaeaea;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
}
.pbeta-redes li a i{
    display: block;
    color: #03233b;
}
.pbeta-redes li a:hover i{
    color: #9E9E9E;
}
.pbeta-redes li a:hover{
    background: #FFFFFF;
}
.pbeta-redes li a img{
    width: 26px;
}

.pbeta-redes-header{
    float: left;
    margin-top: 31px;
    margin-left: 60px;
}
.pbeta-redes-header li{
    margin: 5px 6px;
}
.pbeta-redes-header li a{
    background: #abbcc9;
    width: 26px;
    height: 26px;
    padding-top: 5px;
}
.pbeta-redes-header li a i{
    color: white;
    font-size: 0px;
    padding-left: 1px;
}
.pbeta-redes-header li a i:before{
    font-size: 12px !important;
    line-height: 12px;
}

.pbeta-redes-header li a .worq-icon-google:before{
    font-size: 17px !important;
    line-height: 16px;
}
.pbeta-redes-header li a .worq-icon-linkedin:before{
    font-size: 14px !important;
    line-height: 15px;
}

/* -----------
 *  INTRO
 * ----------- */

.intro-pbeta{}
.intro-pbeta .intro-pbeta-img img{margin-top: -31px;max-width: 75%;}

.intro-pbeta-img{
    padding-right: 64px;
}



.intro-pbeta .intro-pbeta-texto{
    margin-top: -4px;
    padding: 0 72px;
    border-left: 1px solid #eee;
}
.intro-pbeta .intro-pbeta-texto h4{
    line-height: 40px;
    margin-bottom: 10px;
}
.intro-pbeta .intro-pbeta-texto .btn-azul{
    margin-top: 10px;
}
.intro-pbeta .intro-pbeta-texto p{
    color: #8b8d8e;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 12px;
}
.intro-pbeta .intro-pbeta-texto a.ademas{
    color: #5e9dcb;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

h5.comprometidos {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: Verdana;
    letter-spacing: 1px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 990px){
    .intro-pbeta-img{
        padding: 20px 70px;
        text-align: center !important;
    }
}

@media (max-width: 767px){
    .intro-pbeta .intro-pbeta-texto{
        padding: 0 15px;
    }
}
@media (max-width: 590px){
    .pbeta-slide h1{
        font-size: 33px;
        line-height: 39px;
    }
    .pbeta-slide h5{

    }

    #pbeta-slide1{

        padding: 49px 0;
    }
}

@media (max-width: 400px){
    .pbeta-slide h1{
        font-size: 25px;
        line-height: 39px;
    }
    .pbeta-slide h5{

        font-size: 17px;

    }
}
/* -----------
 *  SERVICIOS
 * ----------- */

.pbeta-servicios{background:url(../img/background-pbeta-servicios.jpg) #04243c; background-size: cover;padding-bottom: 118px;padding-top: 105px;}

.pbeta-servicios-titulo h4{
    color: white;
    font-size: 46px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 17px;
}
.pbeta-servicios-titulo p{
    line-height: 21px;
}

.pbeta-servicios-titulo{
    color: white;
}
.row-servicios1{
    margin-top: -3px;
    padding: 0 138px;
}
.row-servicios2{
    padding: 0 138px;
    margin-top: 21px;
}


.row-servicios2 .pbeta-servicio h5{
    line-height: 20px;
}


.row-servicios2 .servicios-sprite-container{
    min-height: 72px;
}

.servicios-sprite{display: inline-block;background: url(../img/servicios_sprite.png) no-repeat;width: 97px;height: 94px;}

.servicios-sprite-container{
    margin-bottom: 10px;
    display: inline-block;
    overflow: hidden;
    min-height: 98px;
}

.servicios-sprite-container svg{fill:#3ab8d7;width: 80px;}


.servicio1 svg{
    width: 93px;
}
.servicio2 svg{width: 90px;}
.servicio3 svg{

    width: 87px;
}
.servicio4 svg{

    width: 88px;
}

.pbeta-servicio.servicio4{
    padding: 19px 27px 32px;
}

.servicio5 svg{

    margin-bottom: 4px;
}

.pbeta-servicio.servicio5{
    padding: 21px 27px 32px;
}

.servicio6 svg{

    width: 83px;
}
.pbeta-servicio.servicio6{
    padding: 21px 27px 32px;
}

.pbeta-servicio:hover{background: #194363;}
.pbeta-servicio:hover svg{fill:white;}

.pbeta-servicio{border: 1px solid #194363; border-radius: 5px;padding: 30px 27px;vertical-align: top;cursor: pointer;}
.pbeta-servicio h5{color: white;font-size: 17px;font-weight: 400;margin-bottom: 0;}

.pbeta-servicio,svg{ 
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}

@media (max-width: 1200px){
    .row-servicios1 , .row-servicios2{
        padding: 0px 35px;
    }
}

@media (max-width: 767px){

    .pbeta-servicios{
        padding: 54px;
    }
    .pbeta-servicio{margin-bottom: 20px;}
    .row-servicios2{margin-top: 0px;}
}
@media (max-width: 476px){
    .pbeta-servicios{
        padding: 35px 0px;
    }

    .pbeta-servicios-titulo h4{
        font-size: 9vw;
    }
    .row-servicios1 , .row-servicios2{
        padding: 0px 15px;
    }
    .pbeta-servicios-titulo p{

        line-height: 26px;
    }
}

/* -----------
 *  COMO TRABAJAMOS
 * ----------- */


.pbeta-trabajamos{
    padding: 104px 0;
    background: #00C0C1;
}

.pbeta-trabajamos:before{
    opacity: 0;
}
.pbeta-trabajamos.parallax > .background-image-holder{
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
    background-size: contain !important;
    background-position: 0 0 !important;
}
.pbeta-trabajamos h2{
    font-size: 46px;
    font-weight: 600;
}
.pbeta-trabajamos h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.pbeta-trabajamos a.btn{}


@media (max-width: 476px){
    .pbeta-trabajamos{
        padding: 35px 0;
    }
    .pbeta-trabajamos h2{

        font-size: 9vw;
    }

    .pbeta-trabajamos h5{
        line-height: 23px;
    }
}


/* -----------
 *  CASOS EXITO
 * ----------- */


.pbeta-exito{
    padding: 80px 0 60px 0;
}
.pbeta-exito h4{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 46px;
}

.exito-row{
    padding: 0 60px;
}

.casos-exito{}

.caso-exito{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding-bottom: 30px;
}

.caso-exito-portada{
    height: 140px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.pbeta-exito h4.caso-exito-thumb-titulo{
    margin-top: -34px;
    padding: 0 20px;
}


.caso-exito-titulo{display: inline-block;color: #3b5998;font-size: 14px;line-height: 26px;font-weight: 400;}

.caso-exito-thumb{background-color: #fff;      border-radius: 3px;      box-shadow: 0 0 5px 0 rgba(36,66,106,.3);padding: 3px;display: inline-block;}
.caso-exito-thumb img{
    margin: 0;
}

h5.caso-exito-bajada{
    color: #6a7180;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 20px;
}

.pbeta-exito .btn-deep-blue:hover{
    background: #1f94e9;
    color: white;
}
.pbeta-exito .btn-deep-blue{
    margin-top: 40px;
    padding: 8px 30px;
}

@media (max-width: 476px){

    .pbeta-exito{padding: 35px 0;}

    .pbeta-exito h4{font-size: 9vw;}

    .exito-row{
        padding: 0 15px;
    }
}


/* -----------
 *  CAFE
 * ----------- */


.pbeta-cafe{background: url(../img/background-pbeta-cafe.jpg)no-repeat;padding: 122px 0;background-size: cover;background-position: 50% 50%;position: relative;z-index: 1;}

.pbeta-cafe:before{
    content: 'Ãƒâ€šÃ‚Â ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #142430;
    z-index: 1;
    opacity: 0.31;
}

.pbeta-cafe h2{
    font-size: 46px;
    font-weight: bold;
}


.pbeta-cafe a.btn-white{
    margin-top: 40px;
    padding: 8px 48px;
}
.pbeta-cafe a.btn-white:hover{

    background: #03233B;

    color: white;
}

@media (max-width: 476px){
    .pbeta-cafe{padding: 35px 0;}

    .pbeta-cafe h2{
        font-size: 8vw;
        line-height: 13vw;
    }
}


/* -----------
 *  CAFE VIDEO
 * ----------- */


.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

@media (max-width: 910px){


    .pbeta-cafe{

        padding: 35px 0;
    }
}

@media (max-width: 910px){
    .pbeta-cafe h2{
        font-size: 7vw;
        line-height: 7vw;
    }
}

.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* -----------
 *  RESPONSABLE
 * ----------- */

.pbeta-responsable{

    background: url(../img/background-pbeta-puente.jpg) white no-repeat;

    background-position: 50% 100%;

    padding: 96px 0 93px;
}

.pbeta-responsable h2{
    color: #03233b;
    font-weight: bold;
    font-size: 46px;
}

.pbeta-quote-container{
    width: 533px;
    background: white;
    margin: 0 auto;
}


.pbeta-quote{
    position: relative;
    color: #03233b;
    font-size: 21px;
    font-weight: 300;
    border: 1px solid #bebebe;
    padding: 30px 66px 39px;
    text-align: justify;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 43px;
}
.pbeta-quote span{color: #5dcfcb;font-size: 14px;
                  font-weight: bold;}
.pbeta-quote:after{
    content: '\201D';
    font-size: 113px;
    font-family: Georgia;
    color: #5dcfcb;
    position: absolute;
    bottom: 15px;
    right: 16px;
}
.pbeta-quote:before{
    content: "\201C";
    font-size: 113px;
    color: #5dcfcb;
    font-family: Georgia;
    position: absolute;
    display: block;
    top: 66px;
    left: 13px;
}

.pbeta-responsable p{color: #5d5d5d;font-size: 16px;
}
.pbeta-responsable .btn-dark{

    margin-top: 10px;

    padding: 8px 43px;
}

@media (max-width: 576px){

    .pbeta-quote-container{
        width: 100%;
    }
    .pbeta-responsable{
        padding: 35px 0;
    }

    .pbeta-responsable h2{
        font-size: 8vw;
    }

}

@media (max-width: 400px){
    .pbeta-quote{
        padding: 15px 15px;
        text-align: left;
        line-height: 25px;
        border: none;
    }
    .pbeta-quote:before{
        top: 14px;
        left: -3px;
    }
    .pbeta-quote:after{
        bottom: -39px;
        right: -2px;
    }
}


/* -----------
 *  CONTACTO
 * ----------- */
.pbeta-contacto{
    background: url(../img/pattern-contacto.png)repeat #41b3af;
    padding: 73px 0 53px;
    position: relative;
}
.pbeta-contacto-texto h2{
    color: white;
    font-size: 46px;
    font-weight: bold;
    line-height: 53px;
    margin-bottom: 12px;
}
.pbeta-contacto-texto p{
    color: white;
    font-size: 16px;
    line-height: 22px;
}
.pbeta-contacto-texto .datos-contacto{
    padding: 0;
    margin: 0;
    margin-top: 29px;
    display: block;
}
.pbeta-contacto-texto .datos-contacto li{
    color: white;
    margin-bottom: 19px;
}

.contacto-icon {
    display: inline-block;
    background: url(../img/sprite-contacto.png)no-repeat;
    float: left;
    margin-right: 20px;
}
.contacto-icon-mail {
    width: 24px;
    height: 17px;
    margin-top: 2px;
}
.contacto-icon-tel {
    width: 22px;
    height: 22px;
    background-position: 0 -19px;
}
.contacto-icon-dir {
    width: 22px;
    height: 22px;
    background-position: 0 -39px;
}


#form-contacto{
    padding-left: 95px;
    padding-right: 0;
    padding-top: 19px;
}
#form-contacto input[type=text]{
    width: 100%;
    height: auto;
    line-height: 36px;
    margin-bottom: 15px;
    border: 1px solid white;
}
#form-contacto input[type=submit]{
    background: #03233b;
    border: none;
    margin-top: 0;
    line-height: 41px;
    height: auto;
    font-size: 14px;
}
#form-contacto input[type=submit]:hover{
    background: #0A4673;
}
#form-contacto textarea{
    line-height: 37px;
    padding-left: 16px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 3px;
    font-size: 16px;
    color: #888;
    font-weight: 400;
    width: 100%;
    margin-bottom: 9px;
}

@media (max-width: 990px){
    #form-contacto{
        padding: 0;
        margin-top: 20px;
    }
}

@media (max-width: 476px){
    .pbeta-contacto{padding: 35px 0;}

    .pbeta-contacto-texto h2{font-size: 11vw;line-height: 12vw;}


    .pbeta-contacto-texto .datos-contacto li{
        font-size: 5vw;
        margin-bottom: 10px;
    }
}


/* -----------
 *  NEWS HOME
 * ----------- */
.pbeta-news-home{
    background: #03233b;
    padding: 37px 0;
    position: relative;
}


.pbeta-news-home h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
.pbeta-news-home h3 span{
    font-size: 14px;
    font-weight: 400;
}


#form-suscribir-footer{
    position: relative;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 0;
}
#form-suscribir-footer input[type=text]{
    border: none;
    display: inline;
    background: none;
    height: auto;
    line-height: 40px;
    padding-right: 20px;
    color: #979797;
    font-size: 14px;
    border: 1px solid white;
}
input[name=sex]{
    position: absolute;
    left: -100%;
    top: -10000%;
}
#form-suscribir-footer button{
    background: #5dcfcb;
    color: white;
    border: none;
    padding: 10px 17px;
    float: right;
}
#form-suscribir-footer button:hover{
    background: #6CEFEA;
}

@media (max-width: 990px){

    .pbeta-redes{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    #form-suscribir-footer{ width: 100%;margin-top: 20px;}

}

/* -----------
 *  MAPA
 * ----------- */

.pbeta-mapa{
    padding: 0;
}
#map_canvas {
    height: 450px;
    width: 100%;
}

/* -----------
 *  FOOTER
 * ----------- */
footer{
    padding: 29px 0;
}
footer h3 , footer a{
    color: #5b5b5b;
    font-size: 14px;
    font-weight: 400;
    float: left;
}

footer a{float: right;margin-top: 15px;}

@media (max-width: 992px){
    footer a{
        margin-top: 7px;
    }
}
@media (max-width: 600px){
    footer a{
        margin-top: 7px;
        float: none;
        text-align: center;
        display: block;
    }
    footer h3{
        float: none;
        text-align: center;
    }
}   

/* -----------
 *  UI
 * ----------- */
.input-error{
    border-color: red !important;
}

.container{padding: 0;}

@media(max-width: 830px){
    .container{    padding-left: 15px;
                   padding-right: 15px;}
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

body:before{
    content: ' ';
    background: url(../img/iso-background.png);
    width: 152px;
    height: 688px;
    display: block;
    position: absolute;
    bottom: 510px;
    transform: rotate(180deg);
    background-position: 26% 0;
}
body:after{
    content: ' ';
    background: url(../img/iso-background.png);
    width: 152px;
    height: 688px;
    display: block;
    position: absolute;
    bottom: 1810px;
    right: 0;
    background-position: 26% 0;
}

.text-center{text-align: center;}
.text-right{text-align: right;}

.pull-left{float: left}
.pull-right{float: right}

.ajaxing {
    position: absolute;
    z-index: 100;
    background: rgba(238,238,238,0.5);
    text-align: center;
    top: 0;
    left: 0;
    display: none;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes rotating{from{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotating{from{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}.ajaxing img{-webkit-animation:rotating 1s linear infinite;-moz-animation:rotating 1s linear infinite;-ms-animation:rotating 1s linear infinite;-o-animation:rotating 1s linear infinite;animation:rotating 1s linear infinite;position: absolute;top: 50%;margin-top: -16px;}

.btn-beta{
    color: white;
    background: #eaeaea;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 18px;
    display: inline-block;
}

.btn-azul{background: #5e9dcb;}
.btn-azul:hover{background: #1f94e9;color: white}

.btn-deep-blue{background: #03233b;color: white;
}
.btn-deep-blue:hover{background: white;color: #03233b;}

.btn-white{color: #194a48;background: white;}
.btn-white:hover{color: #23928D;background: white;}

.btn-dark{color: white;background: #03233b;}
.btn-dark:hover{color: white;background: #0B4D80;}

@media (min-width: 1260px){
    .container {
        width: 1170px;
    }  
}

@media (min-width: 1300px){
    .container {
        width: 1200px;
    }  
}



/* -----------
 *  SERVICIOS
 * ----------- */

.main-container-servicios{
    padding-top: 55px;
}

.nav-servicios-contaniner {
    background: #0ba9f3;
    text-align: center;
}
.nav-servicios{padding: 0; margin: 0;text-align: center;}
.nav-servicios li{}
.nav-servicios li a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 0 1px;
    display: inline-block;
    border-bottom: 2px solid #0BA9F3;
    margin-bottom: 4px;
}
.nav-servicios li a.active,.nav-servicios li a:hover{border-bottom: 2px solid white;}

.servicio-pbeta{background: white;margin-bottom: 20px;padding-bottom: 98px;}

.servicio-pbeta .servicio-titulo{
    color: #0c2334;
    font-size: 36px;
    margin: 0;
}
.servicio-pbeta .servicio-descripcion{
    font-size: 17px;
    color: #8b8d8e;
    padding-right: 80px;
    line-height: 27px;
    margin: 13px 0 25px;
}

.servicio-container{
    padding: 0 79px;
}
.servicio-pbeta p{
    line-height: 28px;
    font-size: 14px;
    color: #8b8d8e;
}
.servicio-pbeta .servicio-icono{}
.servicio-pbeta .servicio-icono svg{fill:#f0f0f0;}

.servicio-imagen{
    height: 160px;
    background-size: cover;
    background-position: 50%;
    margin-top: 62px;
    display: block;
    padding: 36px 45px;
}
.servicio-imagen h4{font-size: 30px;color: white;font-weight: bold;}
.servicio-imagen h5{color: #000000;font-size: 14px;font-weight: bold;text-transform: uppercase;margin-bottom: 5px;}



/* -----------
 *  CASO EXITO SECCION
 * ----------- */


.pbeta-caso-exito{

    padding: 0;

    margin-bottom: 48px;
}

.pbeta-caso-exito-header{
    text-align: center;
    padding: 101px 0 127px;
}
.pbeta-caso-exito-header h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 9px;
}
.pbeta-caso-exito-header h1{
    font-size: 61px;
    color: white;
    font-weight: bold;
}

.pbeta-caso-exito-obj{
    padding: 0 79px;
    padding-top: 57px;
}
.pbeta-caso-exito-obj h3{
    text-align: center;
    color: #0c2334;
    font-size: 36px;
    margin-bottom: 7px;
}
.pbeta-caso-exito-obj p{
    text-align: center;
    color: #8b8d8e;
    margin: 0;
    line-height: 20px;
}


.pbeta-caso-exito-contenedor-items{
    border-top: 1px solid #f2f2f2;
    margin-top: 75px;
    padding-top: 55px;
    margin-bottom: 90px;
}

.pbeta-caso-exito-obj-item{}
.pbeta-caso-exito-obj-item h4{
    text-align: center;
    color: #404040;
    font-weight: bold;
}
.pbeta-caso-exito-obj-item p{
    line-height: 20px;
    margin-top: 14px;
}


.pbeta-caso-exito-testimonio{
    text-align: center;
    background-size: cover;
    padding: 56px 0 68px;
}
.pbeta-caso-exito-testimonio div{
    color: white;
    font-size: 115px;
    font-weight: bold;
    font-family: Georgia;
    line-height: 115px;
    margin-bottom: -46px;
}
.pbeta-caso-exito-testimonio p{
    line-height: 21px;
    margin-bottom: 3px;
    color: #000000;
}
.pbeta-caso-exito-testimonio h4{
    color: #03233b;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.pbeta-caso-exito-post{
    padding: 0 102px;
    margin-top: 38px;
}
.post-imagen{}
.post-texto{
    margin-top: 116px;
    padding: 0 165px 0 56px;
}
.post-titulo{
    color: #222325;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.post-contenido{
    color: #8e8f91;
    font-size: 14px;
}

.post-fila{

}
.post-action{text-align: center;margin-top: 85px;padding-bottom: 82px;}

.pbeta-caso-exito-post a.btn-beta{background: #1469a9;padding: 21px 25px;font-size: 17px;}



/* -----------
 *  COMO TRABAJAMOS SECCION
 * ----------- */


.pbeta-como-trabajamos{
    text-align: center;
}
.pbeta-como-trabajamos-header{background: url(../img/background-pbeta-trabajamos-seccion.jpg)#57c0c0 50% no-repeat;background-size: cover;padding: 77px 0;}
.pbeta-como-trabajamos-header h1{font-size: 61px; font-weight: bold;color: white;margin-bottom: 28px;}
.pbeta-como-trabajamos-header p{color: white;font-weight: 400;font-size: 16px;}
.pbeta-como-trabajamos-contenido{
    background: white;
    margin-bottom: 20px;
    padding: 78px 0;
}

.pbeta-como-trabajamos-contenido h2{
    font-size: 46px;
    font-weight: bold;
    /* padding: 78px 0; */
}
.pbeta-como-trabajamos-contenido p{}


/* -----------
 *  MARKETING RESPONSABLE
 * ----------- */

.pbeta-marketing-responsable{}
.pbeta-marketing-responsable-header{
    background: url(../img/background-marketing-responsable.jpg)#3794cf 50% no-repeat;
    background-size: cover;
    padding: 128px 0;
    text-align: center;
}
.pbeta-marketing-responsable-header h1{
    color: white;
    font-weight: bold;
    font-size: 61px;
}

@media(max-width : 752px){
    .pbeta-marketing-responsable-header h1{
        font-size: 11vw;
        line-height: 12vw;
    }
}

.pbeta-marketing-responsable-contenido{
    text-align: center;
    padding-top: 55px;
    background: white;
    padding-bottom: 84px;
}
.pbeta-marketing-responsable-contenido h2{
    font-weight: bold;
    font-size: 46px;
    color: #03233b;
    text-align: center;
    margin-bottom: 35px;
}
.pbeta-marketing-responsable-contenido p{
    color: #8e8f91;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.pbeta-marketing-responsable-padding{
    padding: 0 78px;
}

.pbeta-marketing-responsable-padding p.first{
    padding-right: 41px;
}
.pbeta-marketing-responsable-padding p.second{
    padding-left: 25px;
}

@media(max-width:993px){
    .pbeta-marketing-responsable-padding p.second , .pbeta-marketing-responsable-padding p.first{padding: 0;}
}
@media(max-width:700px){
    .pbeta-marketing-responsable-padding{padding: 0;}
}

.pbeta-empresas-ong{
    background: #f4f4f4;
    padding-top: 64px;
    text-align: center;
    padding-bottom: 76px;
}
.pbeta-empresas-ong-contenido{}
.pbeta-empresas-ong img{}
.pbeta-empresas-ong h2{
    color: #1a9831;
    font-size: 36px;
    font-weight: bold;
    margin-top: 39px;
}
.pbeta-empresas-ong p{
    font-size: 13px;
    font-weight: 400;
    color: #8b8d8e;
    margin-top: -2px;
    line-height: 16px;
}

.pbeta-dar-para-crecer{text-align: center; background: url(../img/background-dar-para-crecer.jpg) no-repeat 50% white;display: inline-block;width: 100%;}

.pbeta-dar-para-crecer-contenido{
    width: 497px;
    margin: 0 auto;
    background: white;
    padding: 77px 0;
}

.pbeta-dar-para-crecer h3{
    font-weight: bold;
    color: #03233b;
    margin-bottom: 34px;
}
.pbeta-dar-para-crecer p{
    line-height: 28px;
    margin-bottom: 30px;
}

@media(max-width:700px){
    .pbeta-dar-para-crecer{}
    .pbeta-dar-para-crecer-contenido{width: 100%; padding: 35px 20px;}
}

/* -----------
 *  FONTS
 * ----------- */

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
        url("../fonts/flaticon.woff") format("woff"),
        url("../fonts/flaticon.ttf") format("truetype"),
        url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="worq-icon-"]:before, [class*=" worq-icon-"]:before,
[class^="worq-icon-"]:after, [class*=" worq-icon-"]:after {
    font-family: Flaticon;
    font-size: 23px;
    font-style: normal;
}.worq-icon-facebook:before {
    content: "\e000";
}
.worq-icon-google:before {
    content: "\e001";
}
.worq-icon-linkedin:before {
    content: "\e002";
}